@import "variables";
@import "mixins";
@import "reset";

body {
    font-size: 100%;
    font-family: $montserrat;
    color: black;
    ::selection {
        background-color: $primary-color;
        color: white;
    }
}

.head-top {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/bg-portada.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 768px) {
        background-position: top;
    }
    &__content {
        position: absolute;
        bottom: 30%;
        text-align: center;
        @media (min-width: 768px) {
            bottom: 20%;
        }
        img {
            width: 180px;
            height: 180px;
            display: block;
            margin:  auto;
            @media (min-width: 768px) {
                width: 250px;
                height: 250px;
            }
        }
        h1 {
            margin: 1em 0 0;
            font-size: 1.5em;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            @media (min-width: 768px) {
                margin: .5em 0 0;
                font-size: 3em;
            }
        }
        h2 {
            margin: .35em 0 0;
            font-size: 1.25em;
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            @media (min-width: 768px) {
                margin: .15em 0 0;
                font-size: 2.25em;
            }
        }
        .box-date {
            display: inline-block;
            margin: 1em 0 0;
            padding: .5em 1.5em;
            background-color: white;
            border-radius: 50px;
            @media (min-width: 768px) {
                padding: .5em 2em;
            }
            h3 {
                font-size: 1em;
                color: $primary-color;
                font-weight: 700;
                @media (min-width: 768px) {
                    font-size: 1.125em;
                }
            }
        }
    }
    &__btn {
        position: absolute;
        bottom: 10%;
        cursor: pointer;
        @media (min-width: 768px) {
            bottom: 8%;
        }
        img {
            width: 60px;
        }
    }
}

.titles {
    position: relative;
    margin: 1.5em 0;
    font-size: 1.25em;
    color: $primary-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 5px;
        margin: auto;
        background-color: $primary-color;
        bottom: -10px;
        left: 0;
        right: 0;
    }
}

.box-hymn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: .5em 0;
    text-align: center;
    h3 {
        width: 100%;
        display: flex;
        align-items: center;
        margin: .5em 0 .25em;
        font-size: 1em;
        color: $primary-color;
        font-weight: 600;
        i, span {
            display: block;
        }
        i {
            margin-right: .5em;
            font-size: 1.25em;
        }
    }
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        padding: .5em 1em;
        background-color: $primary-color;
        border-radius: 50px;
        list-style: none;
        color: white;
        font-weight: 600;
        li {
            padding-right: .875em;
            a {
                display: block;
                color: white;
                font-weight: 800;
            }
        }
    }
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: .5em 1em;
    border-radius: 8px;
    ul {
        width: 50%;
        list-style: none;
        font-size: .875em;
        li {
            padding: .25em 0;
        }
    }
    h3 {
        width: 100%;
        display: flex;
        align-items: center;
        margin: .5em 0;
        font-size: 1em;
        color: $primary-color;
        font-weight: 700;
        i, span {
            display: block;
        }
        i {
            margin-right: .5em;
            font-size: 1.25em;
        }
    }
    &__left {
        font-weight: 700;
    }
}

.info-reunion {
    padding: 0 0 2em;
}